/*index.html*/
body{
    color: white;
    background-color: rgb(37, 37, 37);
    font-family: 'Brush Script MT', 'Times New Roman', sans-serif;
    text-align: center;
}
a{
    font-size: 32px;
    color: red;
}
.index-desc{
    font-size: 24px;
}
#easter-egg{
    color:white;
    font-size: xx-small;
}
/*hi.html*/
#inside-easter-egg{
    text-align: left;
}